In [17]:
import sqlite3
import pandas as pd
import tabulate

In [37]:
# Import stocks data
spy_data = pd.read_csv("SPY.csv")

# Both data have the same column names, I'm going to rename the adjClose columns
spy_rename = spy_data.rename(columns={'adjClose': 'spy_adjClose'})

spy_rename

,date,close,high,low,open,volume,spy_adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,1993-01-29,43.9375,43.9687,43.7500,43.9687,1003200,24.367308,24.384612,24.263323,24.384612,1003200,0.0,1.0
1,1993-02-01,44.2500,44.2500,43.9687,43.9687,480500,24.540618,24.540618,24.384612,24.384612,480500,0.0,1.0
2,1993-02-02,44.3437,44.3750,44.1250,44.2187,201300,24.592583,24.609942,24.471294,24.523259,201300,0.0,1.0
3,1993-02-03,44.8125,44.8437,44.3750,44.4062,529400,24.852575,24.869878,24.609942,24.627245,529400,0.0,1.0
4,1993-02-04,45.0000,45.0937,44.4687,44.9687,531500,24.956560,25.008526,24.661907,24.939202,531500,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8164,2025-07-08,620.3400,622.1100,619.5200,621.3500,59024585,620.340000,622.110000,619.520000,621.350000,59024585,0.0,1.0
8165,2025-07-09,624.0600,624.7200,620.9105,622.7700,66113326,624.060000,624.720000,620.910500,622.770000,66113326,0.0,1.0
8166,2025-07-10,625.8200,626.8701,623.0100,624.2000,57528960,625.820000,626.870100,623.010000,624.200000,57528960,0.0,1.0
8167,2025-07-11,623.6200,624.8600,621.5300,622.7400,63670226,623.620000,624.860000,621.530000,622.740000,63670226,0.0,1.0
8168,2025-07-14,624.8100,625.1581,621.7999,623.1600,51898518,624.810000,625.158100,621.799900,623.160000,51898518,0.0,1.0

In [38]:
print(spy_rename.columns)
print(spy_rename.shape)
print(spy_rename.dtypes)

Index(['date', 'close', 'high', 'low', 'open', 'volume', 'spy_adjClose',
       'adjHigh', 'adjLow', 'adjOpen', 'adjVolume', 'divCash', 'splitFactor'],
      dtype='object')
(8169, 13)
date             object
close           float64
high            float64
low             float64
open            float64
volume            int64
spy_adjClose    float64
adjHigh         float64
adjLow          float64
adjOpen         float64
adjVolume         int64
divCash         float64
splitFactor     float64
dtype: object

In [35]:
# Import bond data
tlt_data = pd.read_csv("tlt.csv")

# Both data have the same column names, I'm going to rename the adjClose columns
tlt_rename = tlt_data.rename(columns={'adjClose': 'tlt_adjClose'})

tlt_rename

,date,close,high,low,open,volume,tlt_adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,2002-07-26,82.51,82.80,82.420,82.67,316300,37.841243,37.974245,37.799967,37.914623,316300,0.0,1.0
1,2002-07-29,81.42,82.16,81.320,82.06,8400,37.341341,37.680724,37.295478,37.634861,8400,0.0,1.0
2,2002-07-30,81.52,81.90,81.520,81.75,6100,37.387203,37.561481,37.387203,37.492687,6100,0.0,1.0
3,2002-07-31,82.53,82.80,81.900,81.95,29400,37.850416,37.974245,37.561481,37.584413,29400,0.0,1.0
4,2002-08-01,83.00,83.02,82.540,82.54,25000,38.065970,38.075143,37.855002,37.855002,25000,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5773,2025-07-08,86.03,86.04,85.440,85.57,31406989,86.030000,86.040000,85.440000,85.570000,31406989,0.0,1.0
5774,2025-07-09,86.93,86.93,86.175,86.19,29821887,86.930000,86.930000,86.175000,86.190000,29821887,0.0,1.0
5775,2025-07-10,86.99,87.06,86.485,86.83,24525548,86.990000,87.060000,86.485000,86.830000,24525548,0.0,1.0
5776,2025-07-11,85.79,86.27,85.640,86.23,40764785,85.790000,86.270000,85.640000,86.230000,40764785,0.0,1.0
5777,2025-07-14,85.61,85.88,85.315,85.54,24609530,85.610000,85.880000,85.315000,85.540000,24609530,0.0,1.0

In [39]:
print(tlt_rename.columns)
print(tlt_rename.shape)
print(tlt_rename.dtypes)

Index(['date', 'close', 'high', 'low', 'open', 'volume', 'tlt_adjClose',
       'adjHigh', 'adjLow', 'adjOpen', 'adjVolume', 'divCash', 'splitFactor'],
      dtype='object')
(5778, 13)
date             object
close           float64
high            float64
low             float64
open            float64
volume            int64
tlt_adjClose    float64
adjHigh         float64
adjLow          float64
adjOpen         float64
adjVolume         int64
divCash         float64
splitFactor     float64
dtype: object

In [22]:
# Both data have the same column names, I'm going to rename the adjClose columns
# spy_df = pd.DataFrame(spy_data)
# tlt_df = pd.DataFrame(tlt_data)

# spy_df_renamed = spy_df.rename(columns={'adjClose': 'spy_adjClose'})
# tlt_df_renamed = tlt_df.rename(columns={'adjClose': 'tlt_adjClose'})

# print(spy_df_renamed)
# print(tlt_df_renamed)

            date     close      high       low      open    volume  \
0     1993-01-29   43.9375   43.9687   43.7500   43.9687   1003200
1     1993-02-01   44.2500   44.2500   43.9687   43.9687    480500
2     1993-02-02   44.3437   44.3750   44.1250   44.2187    201300
3     1993-02-03   44.8125   44.8437   44.3750   44.4062    529400
4     1993-02-04   45.0000   45.0937   44.4687   44.9687    531500
...          ...       ...       ...       ...       ...       ...
8164  2025-07-08  620.3400  622.1100  619.5200  621.3500  59024585
8165  2025-07-09  624.0600  624.7200  620.9105  622.7700  66113326
8166  2025-07-10  625.8200  626.8701  623.0100  624.2000  57528960
8167  2025-07-11  623.6200  624.8600  621.5300  622.7400  63670226
8168  2025-07-14  624.8100  625.1581  621.7999  623.1600  51898518

      spy_adjClose     adjHigh      adjLow     adjOpen  adjVolume  divCash  \
0        24.367308   24.384612   24.263323   24.384612    1003200      0.0
1        24.540618   24.540618   24.384612   24.384612     480500      0.0
2        24.592583   24.609942   24.471294   24.523259     201300      0.0
3        24.852575   24.869878   24.609942   24.627245     529400      0.0
4        24.956560   25.008526   24.661907   24.939202     531500      0.0
...            ...         ...         ...         ...        ...      ...
8164    620.340000  622.110000  619.520000  621.350000   59024585      0.0
8165    624.060000  624.720000  620.910500  622.770000   66113326      0.0
8166    625.820000  626.870100  623.010000  624.200000   57528960      0.0
8167    623.620000  624.860000  621.530000  622.740000   63670226      0.0
8168    624.810000  625.158100  621.799900  623.160000   51898518      0.0

      splitFactor
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
...           ...
8164          1.0
8165          1.0
8166          1.0
8167          1.0
8168          1.0

[8169 rows x 13 columns]
            date  close   high     low   open    volume  tlt_adjClose  \
0     2002-07-26  82.51  82.80  82.420  82.67    316300     37.841243
1     2002-07-29  81.42  82.16  81.320  82.06      8400     37.341341
2     2002-07-30  81.52  81.90  81.520  81.75      6100     37.387203
3     2002-07-31  82.53  82.80  81.900  81.95     29400     37.850416
4     2002-08-01  83.00  83.02  82.540  82.54     25000     38.065970
...          ...    ...    ...     ...    ...       ...           ...
5773  2025-07-08  86.03  86.04  85.440  85.57  31406989     86.030000
5774  2025-07-09  86.93  86.93  86.175  86.19  29821887     86.930000
5775  2025-07-10  86.99  87.06  86.485  86.83  24525548     86.990000
5776  2025-07-11  85.79  86.27  85.640  86.23  40764785     85.790000
5777  2025-07-14  85.61  85.88  85.315  85.54  24609530     85.610000

        adjHigh     adjLow    adjOpen  adjVolume  divCash  splitFactor
0     37.974245  37.799967  37.914623     316300      0.0          1.0
1     37.680724  37.295478  37.634861       8400      0.0          1.0
2     37.561481  37.387203  37.492687       6100      0.0          1.0
3     37.974245  37.561481  37.584413      29400      0.0          1.0
4     38.075143  37.855002  37.855002      25000      0.0          1.0
...         ...        ...        ...        ...      ...          ...
5773  86.040000  85.440000  85.570000   31406989      0.0          1.0
5774  86.930000  86.175000  86.190000   29821887      0.0          1.0
5775  87.060000  86.485000  86.830000   24525548      0.0          1.0
5776  86.270000  85.640000  86.230000   40764785      0.0          1.0
5777  85.880000  85.315000  85.540000   24609530      0.0          1.0

[5778 rows x 13 columns]

In [47]:
# Create SQLite database and tables
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Create tables spy_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS spy (
   date TEXT NOT NULL PRIMARY KEY,
   spy_adjClose FLOAT NOT NULL             
);
""")

# Create tables tlt_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS tlt (
   date TEXT NOT NULL PRIMARY KEY,
   tlt_adjClose FLOAT NOT NULL             
);
""")

# Insert data into tables
spy_rename.to_sql("spy", conn, if_exists="replace", index=False)
tlt_rename.to_sql("tlt", conn, if_exists="replace", index=False)

# Verify data was inserted
print("SPY Table:\n")
print(pd.read_sql_query("SELECT * FROM spy", conn))

print("\nTLT Table:\n")
print(pd.read_sql_query("SELECT * FROM tlt", conn))

SPY Table:

            date     close      high       low      open    volume  \
0     1993-01-29   43.9375   43.9687   43.7500   43.9687   1003200
1     1993-02-01   44.2500   44.2500   43.9687   43.9687    480500
2     1993-02-02   44.3437   44.3750   44.1250   44.2187    201300
3     1993-02-03   44.8125   44.8437   44.3750   44.4062    529400
4     1993-02-04   45.0000   45.0937   44.4687   44.9687    531500
...          ...       ...       ...       ...       ...       ...
8164  2025-07-08  620.3400  622.1100  619.5200  621.3500  59024585
8165  2025-07-09  624.0600  624.7200  620.9105  622.7700  66113326
8166  2025-07-10  625.8200  626.8701  623.0100  624.2000  57528960
8167  2025-07-11  623.6200  624.8600  621.5300  622.7400  63670226
8168  2025-07-14  624.8100  625.1581  621.7999  623.1600  51898518

      spy_adjClose     adjHigh      adjLow     adjOpen  adjVolume  divCash  \
0        24.367308   24.384612   24.263323   24.384612    1003200      0.0
1        24.540618   24.540618   24.384612   24.384612     480500      0.0
2        24.592583   24.609942   24.471294   24.523259     201300      0.0
3        24.852575   24.869878   24.609942   24.627245     529400      0.0
4        24.956560   25.008526   24.661907   24.939202     531500      0.0
...            ...         ...         ...         ...        ...      ...
8164    620.340000  622.110000  619.520000  621.350000   59024585      0.0
8165    624.060000  624.720000  620.910500  622.770000   66113326      0.0
8166    625.820000  626.870100  623.010000  624.200000   57528960      0.0
8167    623.620000  624.860000  621.530000  622.740000   63670226      0.0
8168    624.810000  625.158100  621.799900  623.160000   51898518      0.0

      splitFactor
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
...           ...
8164          1.0
8165          1.0
8166          1.0
8167          1.0
8168          1.0

[8169 rows x 13 columns]

TLT Table:

            date  close   high     low   open    volume  tlt_adjClose  \
0     2002-07-26  82.51  82.80  82.420  82.67    316300     37.841243
1     2002-07-29  81.42  82.16  81.320  82.06      8400     37.341341
2     2002-07-30  81.52  81.90  81.520  81.75      6100     37.387203
3     2002-07-31  82.53  82.80  81.900  81.95     29400     37.850416
4     2002-08-01  83.00  83.02  82.540  82.54     25000     38.065970
...          ...    ...    ...     ...    ...       ...           ...
5773  2025-07-08  86.03  86.04  85.440  85.57  31406989     86.030000
5774  2025-07-09  86.93  86.93  86.175  86.19  29821887     86.930000
5775  2025-07-10  86.99  87.06  86.485  86.83  24525548     86.990000
5776  2025-07-11  85.79  86.27  85.640  86.23  40764785     85.790000
5777  2025-07-14  85.61  85.88  85.315  85.54  24609530     85.610000

        adjHigh     adjLow    adjOpen  adjVolume  divCash  splitFactor
0     37.974245  37.799967  37.914623     316300      0.0          1.0
1     37.680724  37.295478  37.634861       8400      0.0          1.0
2     37.561481  37.387203  37.492687       6100      0.0          1.0
3     37.974245  37.561481  37.584413      29400      0.0          1.0
4     38.075143  37.855002  37.855002      25000      0.0          1.0
...         ...        ...        ...        ...      ...          ...
5773  86.040000  85.440000  85.570000   31406989      0.0          1.0
5774  86.930000  86.175000  86.190000   29821887      0.0          1.0
5775  87.060000  86.485000  86.830000   24525548      0.0          1.0
5776  86.270000  85.640000  86.230000   40764785      0.0          1.0
5777  85.880000  85.315000  85.540000   24609530      0.0          1.0

[5778 rows x 13 columns]

In [49]:
# Setting up query function
def query(query:str):
    return pd.read_sql(query, conn)

In [66]:
# Join two datasets. 
final_query = """
SELECT spy.date, spy.spy_adjClose, tlt.tlt_adjClose
FROM spy
INNER JOIN tlt
    ON spy.date = tlt.date;
"""
final_data = query(final_query)

In [68]:
final_data.to_csv('clean_data.csv', index=False)