In [1]:
import sqlite3
import pandas as pd

In [3]:
data = pd.read_csv("clean_data.csv")

data

            date  spy_adjClose  tlt_adjClose
0     2002-07-26     55.824445     37.841243
1     2002-07-29     58.543930     37.341341
2     2002-07-30     59.306954     37.387203
3     2002-07-31     59.450430     37.850416
4     2002-08-01     57.898298     38.065970
...          ...           ...           ...
5773  2025-07-08    620.340000     86.030000
5774  2025-07-09    624.060000     86.930000
5775  2025-07-10    625.820000     86.990000
5776  2025-07-11    623.620000     85.790000
5777  2025-07-14    624.810000     85.610000

[5778 rows x 3 columns]